body {
    width: 100%;
    display: block;
    justify-content: center;
    margin: 0;
    right:0;
    left: 0;
    top: 0;
    bottom: 0;

    
}
.navbar {
    margin-right: 0%;
    display: flex;
    width: auto;
    position: sticky;
}
.logo-div { width: auto;
    padding-top: 14px;padding-bottom: 14px;padding-left: 14px;padding-right: 14px;
    margin-right: 35px;
}
.logo-image { 
    width: 180px;
    height: auto;
}
.nav-list {
    display: flex;
    width: 100%;
}
.main-menu {
    list-style-type: none;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    margin-left: 35px;
}
.menu-anchor {
    display: flex;
    text-decoration: none;
}
.menu-lists {
    margin-left: 12px;margin-right: 12px;
    margin-top: 5px;
    padding: 4px;
    font-family: quicksand;
    font-size:12px;
    font-weight: 700;
    font-style: normal;
    color: rgba(27, 27, 27, 0.877);
    letter-spacing: 1px; }
.menu-lists:active { color: rgb(40, 172, 226); }  
.menu-lists:hover { color: rgb(255, 106, 0) } 

.menu-button {
padding-top:16px;  padding-bottom: 0;  
padding-left: 6px; padding-right: 6px;
height: 40px;   
margin-top:8px ;
margin-bottom:0 ;
margin-left: 55px;
margin-right:0px ;
text-align: center;
text-decoration: none;
background-color: #28ace2;
font-size: 13px;
color: white;
letter-spacing: 1px;
border-radius: 5px; 
vertical-align: middle;}

.video-container {
    overflow: hidden;
    display: flex;
    height: 100vh;
    max-width:fit-content ;
    max-height: fit-content;
    width:100%;
    object-fit:cover;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    z-index: 1; }

.vid-head {height: auto;width: 100%; position: absolute; text-align: center;vertical-align: middle;}    
.vid-heading01 {
    color:white;
    font-size: 65px;
    font-weight: 400;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }
.vid-heading02 {
    color:#28ace2;
    font-size: 100px;
    font-weight: 400;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
h3 { width: auto;
    font-size: 38px;
    font-weight: 400;
    color:white;}
.vid-button {
    
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 18px;
    margin-left: 10px;
    margin-right: 10px;
} 

.abt-serv-text {
    text-align: center;
    justify-content: center;
    margin-top: 45px;
}

.title-of-about-us {
    margin-top: 6px;
    font-size: 40px;
    font-weight: 700;
    font-family:auto;
}
.divider {
    border-style: solid;
    border-color: #ecde0d;
    width: 105px;
    height: 6px;
    background-color: #ecde0d;
}
.subtitle-of-about-us {
    font-size: 28px;
    font-weight: 600;
}
.para-of-about-us {
    text-align: center;
    justify-content:space-evenly; 
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.801);
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 35px;
    padding-right: 35px;
    margin-left: 40px; margin-right: 40px;
    line-height: 28px;
}
.sustain-img {
  
    margin-top: 5px;
    margin-bottom: 10px;
    width: auto;
    height: auto; }

.services-grid {
    display: inline-flex;
}  
.services-anchor {
    text-decoration: none;
}  
.services-img {
    width: 350px;
    height: auto;
    padding: 10px; }

.crousal {
    width: 100%;
    justify-content: center;
    text-align: center; }
.carousal-ul {
    overflow: hidden;
    display: flex;
    list-style: none;
}   
.carousal-li {
    padding: 0;
} 
.carousal-img {
    vertical-align: middle;
    width: 250px;
    height: 100px;
}     
.contact-div {
    justify-content: center;
    text-align: center;
} 
.maps {
    max-width: 1100px;
    width: 100%;
    height: 450px;
    margin-top: 30px;
    margin-bottom: 100px;
}  
footer {
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: black;
}
.footer-main-div {
    padding-top: 50px;
    padding-left: 85px; 
    padding-right: 85px;
    display: flex;
    width: 100%;
    height: 400px;
    background-color: rgba(11,10,10,0);
}
.first-col {
    width: 200px;
    margin: 25px;
}
h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1px;
    color: white;
}
.foot-col-line {
    border-color: #28ace2;
    border-style: solid;
    width: 100%;
    padding: 0%;
    
}
.footer-list {
    padding: 0%;
    list-style-type:none; }
.mail{
    line-height: 50px;
    text-decoration: none;
    color:rgb(212, 212, 212) ;}
.links {
    text-decoration: none;
    color:rgb(212, 212, 212) ;}
.links:hover { color: rgb(255, 106, 0); transition: 1s; }          
.mail:hover {  color: rgb(255, 106, 0); transition: 1s; }    
.foot-text {
    color: rgb(212, 212, 212);
    font-size: 15px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    line-height: 35px; }

.absolute-box {
    margin-top: 300px;
    margin-left: 50px;
    vertical-align: middle;
    position: absolute;
    display: flex;
    width: 800px;
    height: auto; 
    padding: 40px; 
    background-color:#28ace2;
    border-radius: 5px;}
.absolute-para {
    color: white;
    font: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
.fb-list {
    display: flex;
    list-style: none;
}    
.icon-img {
    text-decoration: none; 
    margin-left: 6px;
    margin-right: 6px;}


.beneath-footer {
    z-index: 1;
    display: flex;
    background-color: white;
    vertical-align: middle;
    height:auto;
    padding-top: 65px;
    padding-bottom:55px ;
    padding-left:50px;
    padding-right: 50px;
}
.footer-copyright {
    width: 70%;
    font-size: 17px;
    font-weight: 400;
    color:rgba(0, 0, 0, 0.822);
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
.copyright-anchor {
    color: rgb(255, 106, 0);
    text-decoration: none; }
.copyright-anchor:hover {
    color:rgb(244, 44, 78) ;
    transition: 1s;
}        
.footer-copyright-list {
    display: inline-flex;
    justify-content: space-between;
    float: right;
    width: auto;
    font-size: 17px;
    font-weight: 400;
    color:rgba(0, 0, 0, 0.822);
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
.fl-1 {
    list-style: none;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 20px; }
.fl-1:hover {
    color:rgb(244, 44, 78) ;
    transition: 1s;
}    